/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.container {
    display: flex;
    height: 100vh; /* Sprawia, że strona zajmuje całą wysokość przeglądarki */
}

.content {
    width: 90%;
    margin-top: 150px;
}

.books-section {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap; /* Pozwala na zawijanie boksy w wypadku braku miejsca */
    justify-content: space-around; /* Rozstawia boksy równomiernie */
    gap: 5px; /* Odstęp między boksami */
}

.books-box {
    flex: 1 1 45%; /* Każdy boks zajmuje do 45% szerokości kontenera */
    max-width: 45%; /* Maksymalna szerokość boksu */
    background-color: #4e8491; /* f4f4f4         4e8491*/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Uwzględnia padding i border w szerokości */
}

.books-box h2 {
    color: white;
    text-align: center;
    font-size: 20px; /* Rozmiar czcionki nagłówka */
    margin-bottom: 15px;
}






.box {
    width: 90%;
    background-image: url('../../leaves-background.png');
    /* url('leaves-background.png'); */
    background-position: right; /* Position the first image at the top and the second at the bottom */
    background-repeat: no-repeat; /* Ensure the images don't repeat */
    background-size: contain; /* Adjusts the size of the background images */
    background-color: white; /* Fallback color */
    min-height: 100vh; /* Ensure the content section takes at least the full height of the viewport */
    box-sizing: border-box;

}



.books-container {
    padding-top: 20px;
    padding-left: 45px;
    display: flex;
    flex-wrap: wrap; /* Pozwala na zawijanie książek */
    gap: 15px; /* Odstęp między książkami */
    max-height: 577px; /* Ustaw maksymalną wysokość kontenera */
    overflow-y: auto; /* Dodaj przewijanie pionowe, gdy zawartość przekracza maksymalną wysokość */
    padding-right: 15px; /* Dodaj przestrzeń dla paska przewijania */
}
