/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    height: 100vh; /* Sprawia, że strona zajmuje całą wysokość przeglądarki */
    justify-content: center;
}

.content {
    width: 90%;
}
