/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    height: 100vh; /* Sprawia, że strona zajmuje całą wysokość przeglądarki */
    justify-content: center;
}

.content {
    width: 90%;
}

/* Stylizacja linku z napisem "BookShop" */
.logo {
    display: block;
    font-size: 45px;
    font-weight: bold;
    color: #2b4950;
    text-decoration: none;
    padding-top: 50px; /* Odsunięcie od góry przez padding */
    padding-left: 100px;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Zmiana koloru przy najechaniu */
.logo:hover {
    color: #4e8491;
    transform: scale(1.1); /* Powiększenie o 10% */
}

/* Stylizacja top-boxa */
.top-box {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 20px;
    margin-top: 10px;
}

/* Stylizacja formularza wyszukiwania */
.search-form {
    margin-top: 50px;
    margin-left: 300px;
    display: flex;
    align-items: center;
}

.searchedTextField {
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #ccc;
    font-size: 16px;
    text-align: center; /* Wyśrodkowanie tekstu placeholder */
    width: 600px;
    transition: all 0.3s ease;
}

.searchedTextField:focus {
    border-color: #4e8491;
    box-shadow: 0 0 5px rgba(78, 132, 145, 0.5);
    outline: none;
}

.searchedTextField::placeholder {
    color: #999;
}


.bottom-box {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 20px;
}

/* Stylizacja pudełka kategorii */
.categories-box {
    margin-top: 100px;
    margin-left: 100px;
    width: 14%;
    background-color: #335861; /* Ciemne tło, pasujące do paska bocznego */
    padding: 20px;
    border-radius: 10px; /* Zaokrąglone rogi, jak w reszcie aplikacji */
}

/* Nagłówek kategorii */
.categories-box h2 {
    font-size: 20px; /* Większy rozmiar czcionki */
    color: white; /* Jasny kolor tekstu, pasujący do ciemnego tła */
    text-align: center; /* Wyrównanie do środka */
    margin-bottom: 20px; /* Margines od dołu */
    text-transform: uppercase; /* Zmiana na wielkie litery */
    letter-spacing: 2px; /* Dodatkowa przestrzeń między literami */
}

/* Lista kategorii */
.categories-list {
    list-style-type: none; /* Usuń punkty listy */
    padding: 0; /* Usuń wewnętrzne odstępy */
}

/* Każdy element kategorii */
.book-category {
    font-size: 15px; /* Rozmiar czcionki */
    color: white; /* Jasny kolor tekstu */
    padding: 5px 7px; /* Wewnętrzny odstęp */
    border-radius: 5px; /* Lekko zaokrąglone rogi */
    margin-bottom: 5px; /* Odstęp między elementami */
    background-color: #3f6c77; /* Tło elementu, pasujące do reszty aplikacji */
    cursor: pointer; /* Zmiana kursora na wskaźnik */
    text-align: center; /* Centrowanie tekstu */
}

/* Styl dla kategorii po najechaniu */
.book-category:hover {
    background-color: #4e8491; /* Zmiana tła po najechaniu */
}

/* Styl dla linku wewnątrz kategorii */
.book-category .category-link {
    color: inherit; /* Dziedziczenie koloru tekstu z rodzica */
    text-decoration: none; /* Usuń podkreślenie linku */
    display: block;
}

.results-box {
    background-color: #335861;
    border-radius: 10px;
    margin-top: 45px;
    width: 64%;
    height: 680px;
    border: 1px solid #ffffff;
    margin-left: 100px;
}

.top-result-box {
    display: flex;
}

.books-cat {
    width: 500px;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

.results-size {
    margin-top: 1px;
    margin-left: 20px;
    color: white;
}

.sortForm {
    margin-top: 20px;
    margin-left: 480px;
    color: white;
}

hr {
    margin-top: 10px;
}




.books-container {
    padding-top: 20px;
    padding-left: 45px;
    display: flex;
    flex-wrap: wrap; /* Pozwala na zawijanie książek */
    gap: 15px; /* Odstęp między książkami */
    max-height: 577px; /* Ustaw maksymalną wysokość kontenera */
    overflow-y: auto; /* Dodaj przewijanie pionowe, gdy zawartość przekracza maksymalną wysokość */
    padding-right: 15px; /* Dodaj przestrzeń dla paska przewijania */
}

