
/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh; /* Sprawia, że strona zajmuje całą wysokość przeglądarki */
    justify-content: center;
}

.content {
    width: 90%;
    justify-content: center;
    align-content: center;
}

.data{
    justify-self: center;
    border-radius: 10px;
    width: 60%;
    height: 70%;
    justify-items: center;
    align-content: center;
    background-color: #44707a;
}

.data2 {
    justify-self: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 85%;
    justify-items: center;
    align-content: center;
    background-color: #a5c8cf;
}

.text{
    justify-self: center;
    margin-bottom: 5%;
    font-size: 40px;
}

/* Formularz zmiany hasła */
form {
    display: flex;
    flex-direction: column; /* Ustawienie elementów w kolumnie */
    gap: 15px; /* Odstępy między polami formularza */
    max-width: 400px; /* Maksymalna szerokość formularza */
    margin: 0 auto; /* Wyśrodkowanie formularza */
}

form div {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #020404;
}

form input {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccd1d9;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input:focus {
    border-color: #44707a;
    box-shadow: 0 0 5px rgba(68, 112, 122, 0.5);
    outline: none;
}

.wrongData {
    color: #d9534f; /* Czerwony kolor dla komunikatu o błędzie */
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
}

/* Przycisk */
.save-changes-button {
    background-color: #44707a;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.save-changes-button:hover {
    background-color: #35656f;
    transform: translateY(-2px);
}

.save-changes-button:active {
    transform: translateY(0);
}
